body {
    background:url("images/background7.jpg"); 
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#link{
   color:#0D41D0;
  font-size:50px;
  text-shadow:3px 3px #000000;
}
form{
    padding-top:100px;
	width: 300px;
    margin: 0 auto;
}

.appear
{
   background-image: url("images/test.jfif");
   background-repeat:no-repeat;
   background-size: cover;
}
#text{
	
	font-size: 24px;
	color:#120101;
	text-shadow:1px 1px #000000;
}



